html{
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: row;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    
}
div{
    border: 2px black solid;
    text-align: center;
    vertical-align: middle;
}

input{
    display: flex;
    margin: 10px;
    flex-direction: column;
}